/* Import de la police */
@font-face {
  font-family: 'Intro';
  src: url('../fonts/IntroDemo-BlackCAPS.woff2') format('woff2'),
  url('../fonts/IntroDemo-BlackCAPS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #61dafb;
  --background-color: #282c34;
  --text-color: #ffffff;
  --accent-color: #ff6f61;
  --font-primary: 'Intro', sans-serif;
  --font-title: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-primary);
  color: var(--text-color);
  background-color: var(--background-color);
}
